{% load static %}

<footer>
    <div id="desktopFooter">
        <address>
            <section id="contatos-links">
                <div class="redes-sociais">
                    <h2>Redes sociais</h2>

                    <a href="#"><img src="{% static 'assets/icons/insta.png' %}" alt="Instagram"></a>
                    <a href="#"><img src="{% static 'assets/icons/linkedin.png' %}" alt="Linkedin"></a>
                    <a href="#"><img src="{% static 'assets/icons/tt.png' %}" alt="Twitter"></a>
                    <a href="#"><img src="{% static 'assets/icons/Whats.png' %}" alt="Whatsapp"></a>
                </div>

                <div class="emial">
                    <h2>E-mail commercial</h2>

                    <a href="mailto:lukao.multimarcas@lkm.com">lukao.multimarcas@lkm.com</a>
                </div>

            </section>

            <section id="endereco">

                <div>
                    <h2>Endereço</h2>

                    <div id="endereco-coluna">
                        <div>
                            <p><strong>CEP:</strong> 23506-713</p>
                            <p><strong>Cidade:</strong> Lagarto</p>
                            <p><strong>Bairro:</strong> Industrial</p>
                        </div>

                        <div>
                            <p><strong>Logradouro:</strong> Castro Alves</p>
                            <p><strong>Estado:</strong> Sergipe</p>
                            <p><strong>Número:</strong> 4106</p>
                        </div>
                    </div>
                </div>
            </section>

        </address>
    </div>
    <div id="mobileFooter">
        <div class="redes-sociais">
            <a href="#"><img src="{% static 'assets/icons/insta.png' %}" alt="Instagram"></a>
            <a href="#"><img src="{% static 'assets/icons/linkedin.png' %}" alt="Linkedin"></a>
            <a href="#"><img src="{% static 'assets/icons/tt.png' %}" alt="Twitter"></a>
            <a href="#"><img src="{% static 'assets/icons/Whats.png' %}" alt="Whatsapp"></a>
        </div>
        <br>
        <p>Lukao Multimarcas © 2022</p>
    </div>

</footer>